<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<% if(title.length) { %>
		<title><%= title %></title>
	<% } %>
	<link rel="stylesheet" href="/stylesheets/takeComment.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div id="banner">
		<div class="display">
			<input id="station" class="header dark XS">
		</div>
	</div>
	<% if(title.length) { %>
		<h1 align='center'><%= title %></h1>
	<% } %>
	<div class="container">
		<form id="text-box" action="/1" method="post" onsubmit="return false;">

			<% if (info.page == 1) { %>
				<div id="button-box">
				<% info.buttonbox.forEach(function(button, index) { %>
				<button class="submit button-with-float action-button animate" name="buttoncolor" value="<%= button.bg %>" style="background-color: <%= button.bg %>; border-bottom: 5px solid <%= button.bb %>; width: <%= info.buttonwidth %>;" datacolor="<%= button.bg %>">Ok</button>
					<% if (index != info.buttonbox.length - 1) { %>
						<div class="paddiv-with-float"></div>
					<% } %>
				<% }) %>
				</div>
				<input class="msg msg-percent-height" type="text" value="" name="msg" id="msg" autocomplete="off"/>
			<% } %>

			<% if (info.page == 2) { %>
				<div id="button-box">
				<% info.buttonbox.forEach(function(button, index) { %>
					<button class="submit button-without-float action-button animate" style="background-color: <%= button.bg %>; border-bottom: 5px solid <%= button.bb %>; height: 50px;" datacolor="<%= button.bg %>">Ok</button>
					<% if (index != info.buttonbox.length - 1) { %>
						<div class="paddiv-without-float"></div>
					<% } %>
				<% }) %>
					<input class="msg msg-fixed-height" type="text" value="" name="msg" id="msg" autocomplete="off"/>
				</div>
			<% } %>

			<% if (info.page == 3) { %>
				<div id="button-box">
				<% info.buttonbox.forEach(function(button, index) { %>
					<button class="submit button-with-float nonactive-button animate" style="color: <%= button.bg %>; border: 5px solid <%= button.bg %>; background:transparent;width: <%= info.buttonwidth %>;" datacolor="<%= button.bg %>">Ok</button>
					<% if (index != info.buttonbox.length - 1) { %>
						<div class="paddiv-with-float"></div>
					<% } %>
				<% }) %>
				</div>
				<input class="msg msg-percent-height" type="text" value="" name="msg" id="msg" autocomplete="off"/>
			<% } %>

		</form>
	</div>
	<script src="//cdnjs.net/ajax/libs/jquery/2.1.1-rc2/jquery.min.js"></script>
	<script src="/takeComment.min.js"></script>
	<!--
	<script src="/static/transform-master/dist/jquery.transform-0.9.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/Flapper-master/jshashtable-2.1/jshashtable.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/jquery.numberformatter-1.2.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/Flapper-master/src/jquery.flapper.js" type="text/javascript" charset="utf-8"></script>
	-->
</body>
</html>

